<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenQA.Selenium.Chrome.ChromeDriverExtensions" version="1.2.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.21.0" targetFramework="net48" />
</packages>